<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
			  color: #1E1E1E;
			}

			h1  {
			  color: #7B02C6;
			  font-size: 40px;
			  text-align: center;
			}
			h2  {
			  color: #7B02C6;
			  font-size: 30px;
			  text-align: center;
			}
			
			th, td {
				color: #7B02C6;
				padding: 8px;
				text-align: center;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				text-align: center;
			}
			ol {
				color: #7B02C6;
			}
			td.img {
				width: 300;
				height: 375;
				
			}
			img2 {
				width: 5%;
				height: 5%;
				
			}
		</style>
	</head>
</html>